<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='stil.css')}}" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="icon" type="image/x-icon" href="../static/img/favicon.ico">
    
    <title>BTSR</title>
</head>

<body>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
        <a class="navbar-brand" href="/">
            <img src="/static/img/favicon.ico" width="30" height="30" class="d-inline-block align-top" alt="BTSR">
            BTSR
        </a>
            <a class="link" href="/">Anasayfa &nbsp;&nbsp;&nbsp;</span></a>
            <a class="link" href="/about">Hakkında </a>
    </nav>
    <br><br><br>
    <main role="main" class="container">
        <div class="jumbotron">
            <h3>Bilişimin Temelleri Sohbet Robotu (BTSR)</h3>
            <br>
            <p>BTSR, KSÜ Fen Bilimleri Enstitüsü Bilişim Sistemleri Alanı öğrencisi <b>Mehmet Keklik</b> tarafından, <b>Doç.Dr. Fethullah GÖÇER</b> danışmanlığında <b>"Bilişim Eğitimi Alanında Yapay Sinir Ağı ve Doğal Dil İşleme Destekli Bir Sohbet Robotunun (Chatbot) Tasarımı ve Uygulaması"</b> başlıklı yüksek lisans tezi kapsamında hazırlanmıştır.</p>
            <hr>
            <p>BTSR'nin temel amacı, bilişim teknolojilerinin temelleriyle ilgili konularda öğrencilerin merak ettiklerini sorabilmesi için tasarlanmış bir sohbet robotudur. Arkasında yapay zeka tekniklerini (doğal dil işleme, yapay sinir ağı) barındırmaktadır. Tasarlanan sohbet robotu eğitsel bir materyal gibi görev yaparken eğitmenin üzerindeki yükü hafifletecektir.</p>
            <p> Geliştirilmesinde Python ana programlama dilini oluşturmaktadır. Bir Python mikro çervesi olan Flask ile backend kısmı kodlanırken, önyüzde HTML ve CSS kullanılmıştır. Modelin eğitilmesi için ihtiyaç duyulan veri seti MEB Bilişimin Temelleri 9. Sınıf ders kitabından yararlanarak hazırlanmıştır. Bu veri seti, soru-cevap çiftlerinden oluşmaktadır ve öğrencilerin sohbet robotuna sorabileceği muhtemel sorular yer almaktadır.</p>
            <p>BTSR’nin güvenirliği ve geçerliliğini test etmek için Çok Kriterli Karar Verme yöntemlerinden olan bulanık AHP ve bulanık MULTIMOORA yöntemlerinin sentezinden oluşan bir yöntemden faydalanılmıştır. Değerlendirme sonucunda BTSR, Tutarlı olarak tespit edilmiştir. Bu durum BTSR’nin amacına uygun olduğunu göstermektedir. Çalışmamızın eğitsel sohbet robotu tasarımına iyi bir çerçeve oluşturacağı ve yazına katkı sağlayacağını düşünmekteyiz.</p>
        </div>
        </main>
</body>
</html>